<br>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id)%>
       <%= movie.title %> <%= link_to "delete", list_bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %>
        <% end %></td>
      </tr>
  </tbody>
</table>
<br>
<%= link_to 'Create a bookmark for this list', new_list_bookmark_path(@list) %>


COMMENT
