// Specific CSS for your home-page

body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('cinema.jpg');
  background-size: cover;
}

.page-text {
  font-family: 'Fascinate Inline';
  color: white;
  margin-top: 120px;
  text-align: center;
  height: 100px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}
