// Specific CSS for your home-page
html, body {
  margin:0px;
}

.home-body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('cinema.jpg');
  background-size: cover;
  // border: 4px solid white;
  height: 100vh;
}

.page-text {
  font-family: 'Limelight', cursive;
  color: white;
  margin-top: 140px;
  text-align: center;
  align-items: center;
  justify-content: center;
  // border: 4px solid white;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

.btn-home {
  background-color: white;
  border: none;
  color: #a4133c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
}

.btn-home:hover {
  background-color: #d3d3d3;
}
