html, body {
  margin: 0px;
}

.lists-body {
  background-image: linear-gradient(rgba(231, 225, 225, 0.8),rgba(231,225,225,0.6)), url('banner.jpg');
  background-size: cover;
  // // border: 4px solid white;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  // z-index: 1;
}

.cards {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  }

.card-movie {
  // overflow: hidden;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border:2px solid black;
  border-radius: 4px;
}

.card-img {
  height: 50%;
  margin-bottom: 5px;
}

.card-trip-infos {
  padding: 5px;
  height: 40%;
}

h1, h3 {
  font-family: 'Limelight', cursive;
}

p {
  font-family: verdana;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 100%;
}

// .actions {
//   flex-direction: row;
// }

.btn-new {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  font-family: 'Limelight', cursive;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 8px;
}

.btn-new:hover {
  background-color: #d3d3d3;
}
