.list-name {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-family: 'Limelight', cursive;
  font-size: 40px;
}

.cards-show {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  // repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card-movie-show {
  border: 2px solid black;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-movie-image {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  // border: 4px solid red;
}

.card-movie-show-details {
  // text-align: center;
  align-items: center;
  justify-content: center;
  font-family: verdana;
}

.text-delete {
  font-family: 'Limelight', cursive;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.text-delete:hover {
  color: grey;
}

.btn-div {
  text-align: center;
}

.btn-show {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  font-family: 'Limelight', cursive;
  border: 1px solid black;
  margin-right: 20px;
  margin-bottom: 20px;
}

.btn-show:hover {
  background-color: #d3d3d3;
}
