<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid row mx-0">
    <div class="col-3">
      <a class="navbar-brand" href="/">
        <%= image_tag "watch-list-logo.png" %>
      </a>
      <p>Test shared navbar</p>
    </div>
