<div class="home-body">
  <br>
  <div class="page-text">
    <h1><strong>WATCH LIST</strong></h1>
    <h2>MAKE LISTS OF YOUR FAVOURITE MOVIES!</h2>
    <%= link_to "Check it out", lists_path, class: "btn-home" %>
  </div>
</div>
