<div class="navbar navbar-light">
  <img src="images/watch-list-logo.png" alt="Watch List Logo" width="40">
</div>

<br>
<div class="container justify-content-center">
<h1><strong>Watch List</strong></h1>
<br>
<h2>Make lists of your favourite movies!</h2>
<p><span>Rent one of our alpacas and enjoy a great day with one of our cute friends.</span></p>
<%= link_to "Check it out", lists_path, class: "btn btn-lg btn-primary fs-2" %>
</div>
